{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="content-top-padding">
    <div class="match-index-row header-top-spacing match-text-flag-box">
      <div class="row" style="margin: auto auto 15px;">
          <div class="row alert-match-status-box" id="alert-status">
            <div class="col-md-12 col-lg-12 alert-match-status-text">
                <span>Currently Not Available.</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">

</style>
</style>

{% endblock %}