{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row content-top-padding" style="padding-bottom: 15px;">
	<table class="table table-bordered header-top-spacing">
	  <thead>
	    <tr>
	<!-- <<<<<<< HEAD -->
	      <th class="ldg-tbl-th match-box-color">DATE</th>
	      <th class="ldg-tbl-th match-box-color">ENTRY</th>
	      <th class="ldg-tbl-th match-box-color">DEBIT</th>
	      <th class="ldg-tbl-th match-box-color">CREDIT</th>
	      <th class="ldg-tbl-th match-box-color">BALANCE</th>
	<!-- =======
	      <th class="ldg-tbl-th ledger-head-row-color">DATE</th>
	      <th class="ldg-tbl-th ledger-head-row-color">ENTRY</th>
	      <th class="ldg-tbl-th debit-box-color">DEBIT</th>
	      <th class="ldg-tbl-th credit-box-color">CREDIT</th>
	      <th class="ldg-tbl-th balance-box-color">BALANCE</th>
	>>>>>>> feature_theme_switching -->
	    </tr>
	  </thead>
	  <tbody>




	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        03-11-2020
	      </td>
	      <td title="Rajasthan Royals vs Royal Challengers Bangalore" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=123 %}">Mumbai Indians vs Royal Challengers Bangalore</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1069.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>

	  </tbody>
	</table>
	</div> 
</div>

<style type="text/css">

.table {
  table-layout:fixed;
}

.table td,.table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

{% endblock %}