{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row content-top-padding" style="padding-bottom: 15px;">
	<table class="table table-bordered header-top-spacing">
	  <thead>
	    <tr>
	<!-- <<<<<<< HEAD -->
	      <th class="ldg-tbl-th match-box-color">DATE</th>
	      <th class="ldg-tbl-th match-box-color">ENTRY</th>
	      <th class="ldg-tbl-th match-box-color">DEBIT</th>
	      <th class="ldg-tbl-th match-box-color">CREDIT</th>
	      <th class="ldg-tbl-th match-box-color">BALANCE</th>
	<!-- =======
	      <th class="ldg-tbl-th ledger-head-row-color">DATE</th>
	      <th class="ldg-tbl-th ledger-head-row-color">ENTRY</th>
	      <th class="ldg-tbl-th debit-box-color">DEBIT</th>
	      <th class="ldg-tbl-th credit-box-color">CREDIT</th>
	      <th class="ldg-tbl-th balance-box-color">BALANCE</th>
	>>>>>>> feature_theme_switching -->
	    </tr>
	  </thead>
	  <tbody>




	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        17 Oct 20
	      </td>
	      <td title="Rajasthan Royals vs Royal Challengers Bangalore" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Rajasthan Royals vs Royal Challengers Bangalore</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1069.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr> 
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        12 Oct 20
	      </td>
	      <td title="Royal Challengers Bangalore vs Kolkata Knight Riders" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Royal Challengers Bangalore vs Kolkata Knight Riders</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1059.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        10 Oct 20
	      </td>
	      <td title="Chennai Super Kings vs Royal Challengers Bangalore" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Chennai Super Kings vs Royal Challengers Bangalore</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1049.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        06 Oct 20
	      </td>
	      <td title="Mumbai Indians vs Rajasthan Royals" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Mumbai Indians vs Rajasthan Royals</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1039.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        05 Oct 20
	      </td>
	      <td title="Royal Challengers Bangalore vs Delhi Capitals" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Royal Challengers Bangalore vs Delhi Capitals</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1029.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        29 Sep 20
	      </td>
	      <td title="Delhi Capitals vs Sunrisers Hyderabad" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Delhi Capitals vs Sunrisers Hyderabad</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1019.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        29 Sep 20
	      </td>
	      <td title="Royal Challengers Bangalore vs Mumbai Indians" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Royal Challengers Bangalore vs Mumbai Indians</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-1009.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        14 Sep 20
	      </td>
	      <td title="TeenPatti-T-20 - 13 Sep" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">TeenPatti-T-20 - 13 Sep</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      684.75</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-999.35</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        13 Sep 20
	      </td>
	      <td title="TeenPatti-T-20 - 12 Sep" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">TeenPatti-T-20 - 12 Sep</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      304.6</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-314.6</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>





	    <tr>  
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color" style="text-align:left;">
	        12 Sep 20
	      </td>
	      <td title="Cluj vs Indian Cricket Club" class="ldg-tbl-td match-value-box-color" style="text-align:left;"><a href="{% url 'ledger_team' ledger_id=385791 %}">Cluj vs Indian Cricket Club</a></td>
	      <td class="ldg-tbl-td match-value-box-color">
	      10.0</td>
	      <td class="ldg-tbl-td match-value-box-color">
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"></td>
	      <td class="ldg-tbl-td ledger-box-value-color" style="text-align:left;"><a href=""></a></td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	      0</td>
	      <td class="ldg-tbl-td ledger-box-value-color">
	>>>>>>> feature_theme_switching -->
	0
	      </td>
	<!-- <<<<<<< HEAD -->
	      <td class="ldg-tbl-td match-value-box-color">-10.0</td>
	<!-- =======
	      <td class="ldg-tbl-td ledger-box-value-color"></td>
	>>>>>>> feature_theme_switching -->
	    </tr>


	  </tbody>
	</table>
	</div>  
</div>

<style type="text/css">

.table {
  table-layout:fixed;
}

.table td,.table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

{% endblock %}