{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container chng-pass-container">
  <div class="row content-top-padding" style="padding-top:13%;">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-centered login_stripe change-password-box-color">
        <form class="form-horixonatal" id="edit_user_4" novalidate="novalidate">
          <h1 class="login_heading">Change Password</h1>
          <label id="invalid_old_password" style="display:none;">Entered old Password is Wrong,please provide correct password.</label>
          <label id="invalid_new_password" style="display:none;">Entered New password and confirm password must be same.</label>
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered">
             <input type="password" id="password" name="password" class="form-control login_text_field" placeholder="OLD PASSWORD"><br>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered">
             <input type="password" id="new_password" name="new_password" class="form-control login_text_field" placeholder="NEW PASSWORD"><br>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered">
             <input type="password" id="password_confirmation" name="password_confirmation" class="form-control login_text_field" placeholder="CONFIRM PASSWORD"><br>
            </div>
          </div>
         </form>

          <div class="row">
            <div class="col-lg-12 col-md-12">
               <button class="btn btn-danger purp_btn change_password_btn" id="create_bets">Done</button>
            </div>
          </div>
      </div>
  </div>
</div>

<style type="text/css">
    #edit_user_4 input.error{
        border:1.5px solid #FB3A3A !important; 
      }
    #edit_user_4 label.error {
          color:#FB3A3A !important;
          font-size: 12px !important;
          font-weight: 600 !important;
          margin:3%;
          font-family: "open-sans-regular";
          letter-spacing: 1px;
    }


    #invalid_old_password,#invalid_new_password{
          color:#FB3A3A !important;
          font-size: 12px !important;
          font-weight: 600 !important;
          font-family: "open-sans-regular";
          letter-spacing: 1px;
    }
    .btn .change_password_btn:hover{
    	background-color: #fff;
    }
</style>
<script type="text/javascript">
$(document).ready(function () {
    $("#edit_user_4").validate({
        debug: false,
        // Specify the validation rules
        rules: {
           "new_password": {required: true,minlength:4},
           "password": {required: true,minlength:4},
           "password_confirmation":{required: true,minlength:4}
        },
        
        // Specify the validation error messages
        messages: {
            "password": {
                required: ("please_provide_a_old_password"),
                minlength: ("your_password_must_be_at_least_4_characters_long")
            },
            "new_password": {
                required: ("please_provide_a_new_password"),
                minlength:("your_password_must_be_at_least_4_characters_long")
            },
            "password_confirmation": {
                required: ("please_retype_a_new_password"),
                minlength: ("your_password_must_be_at_least_4_characters_long")
            }
        },
        submitHandler: function (form) { // for demo 
                return false;        }
    });


    $('.change_password_btn').on('click', function() {
      if($("#password").val() && $("#new_password").val() && $("#password_confirmation").val()) 
      {
        // $.ajax({
        //            type:"post",
        //            url : "/user/dashboard/change_password",
        //            data : $('form').serialize(),
        //            success : function(data){
        //              console.log("response data is", data);
        //              if (data.message == "Please Enter Valid Old Password")
        //              {
        //                 $('#invalid_new_password').hide();
        //                 $('#invalid_old_password').show();
        //              }

        //              if (data.message == "Please Enter Same New Password")
        //              {
        //                 $('#invalid_old_password').hide();
        //                 $('#invalid_new_password').show();
        //              }

        //              if (data.user.id)
        //              {
        //                 window.location.href = "#" 
        //              }

        //            }   
        // }); 
        // alert("success..."); 
        return true;
      }
      else
      {
        $("#edit_user_4").valid();
        return false;
      }
    });

});

</script>

{% endblock %}