{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="lang-switch-btn">
  <div class="lang-btn-container">
    <div id="hindi">हिंदी</div>
    <div id="english">English</div>
  </div>
</div>

<div class="rules-main-container">
    <ul class="hindi-note-text">
      <li><b></b><p style="text-align: center;"><b>🏏 !! B777.com में आपका स्वागत है !! 🏏<br><br>
        नोट :- BSF777 , BSF999 , BSF555 , BSF000 , BSF1010 ये सभी आयडी bsf ग्रुप के आयडी है बाकी जो भी है bsf के नाम से वोह सभी Dummy है
        <br><br>
        नोट :- BSF के सभी ID मैं रूले, इनसाइड आउटसाइड(अंदर-बाहर), सिंगल डिजिट(दस का दम), और ट्रिपल चांस ये सभी लाइव गेम इन-प्ले हो गए हे| आपको गेम के आवश्यकता हो तो आप अपने एजेंट से संपर्क करे| BSFGROUP
        </b>
      </p></li>
    </ul><br>
    <ol class="hindi-rules-list">
      <li>कृपया BSF777 के नियमों को समझने के लिए यहां कुछ मिनट दें, और अपने अनुसार समझ लें |</li>
      <li>लॉग इन करने के बाद अपना पासवर्ड बदल लें |</li>
      <!-- <li>प्रत्येक गेम के लिए /- coin चार्ज रहेगा| यदि आप मैच या सेशन का एक भी सौदा करते हैं तो ये चार्ज आपसे नहीं लिया जायेगा |</li> -->
      <li>प्रत्येक गेम के लिए 10.0/- कॉइन्स चार्ज रहेगा |</li>
      <li>यदि आप मैच या सेशन का एक भी सौदा नहीं करते हो, ऐसे में आपसे 10.0/- कॉइन्स का चार्ज लिया जायेगा |</li>
      <li>सभी एडवांस सौदे टॉस के बाद लिए जाएंगे |</li>
      <li>खेल रद्द या टाई होने पर सभी सौदे रद्द कर दिए जाएंगे और लेनदेन सेशन और फैंसी जो पूरा हो गया है उस पर किया जाएगा |</li>
        <li>मैच का सौदा कम से कम 2000.0 और अधिकतम 1000000.0 है और सेशन का सौदा कम से कम 1000.0 और अधिकतम 50000.0 है।</li>
      <li>एकी बेकी में 95 का भाव है |</li>
      <li>लॉटरी ड्रॉ  में 9.5 का भाव है |</li>
      <li>लाइव ड्रा टीवी स्कोर पर निर्भर है | दर कभी नहीं बदली जाती है | यह यूजर के लिए अच्छा मौका है |</li>
      <li>मैच के दौरान भाव को देख और समझ कर ही सौदा करें | किये गए किसी भी सौदे को हटाया या बदला नहीं जायेगा | सभी सौदे के लिए आप स्वयं जिम्मेवार हैं |</li>
      <li>यहाँ सभी सौदे लेजर से मान्य किये जायेंगे |</li>
      <li>इंटरनेट कनेक्शन प्रॉब्लम की जिम्मेवारी आपकी रहेगी |</li>
    </ol>
    <ul class="hindi-note-text"><li>नोट: सर्वर या वेबसाइट में किसी तरह की खराबी आने या बंद हो जाने पर केवल किए गए सौदे ही मान्य होंगे | ऐसी स्तिथि में किसी तरह का वाद-विवाद मान्य नहीं होगा |</li></ul>

    <ul class="english-note-text">
      <li>
        <b></b><p style="text-align: center;"><b>🏏 !! Welcome To B777.com  !! 🏏<br><br>
        Note  :- BSF777 , BSF999 , BSF555 , BSF000 , BSF1010  Yee Sabhi id BSF GROUP ke id hai Baki jo bhi id hai Bsf ke nam se woh Sabhi id Dummy hai
        <br><br>
        Note :- BSF Ke Sabhi ID Me Roulette, Inside Outside(Andar Bahar), Single Digit(Dus ka Dum), &amp; Triple Chance Yee sabhi Live Game inplay Ho gay hai aapko Game ke Requirement ho tho aap apne Agent se Contact kare.
        BSFGROUP
        </b>
      </p></li>
    </ul><br>
    <ol class="english-rules-list">
      <li>Please give a few minutes to understand rules of BSF777 here, as best as you can.</li>
      <li>Change your password after you log in.</li>
      <!-- <li>For every game /- coins will be charged. If you single deal of match or session then it'll not be charged from you.</li> -->
      <li>For every Match 10.0/- coins will be charged.</li>
      <li>10.0/- coins will be charged if user will not play any Market bet or Session bet in a match.</li>
      <li>All the advance bets will be accepted after the toss.</li>
      <li>If game is cancelled or tie then all the deals will be cancelled and the transactions will be done on session and fancy which are completed.</li>
        <li>The deal of the match is at least 2000.0 and maximum 1000000.0 and the deal of session is at least 1000.0 and maximun 50000.0.</li>
      <li>Even Odd has rate of 95.</li>
      <li>Lottery draw has rate of 9.5</li>
      <li>Live draw is settled on TV score, rate is never changed. This is good chance for users.</li>
      <li>During the match, please bet only after confirming the deal. Once the deal is confirmed, it cannot be changed or removed. Responsibility of every deal is yours.</li>
      <li>All transactions will be validated from ledger only.</li>
      <li>It'll be user's responsibility for internet connection problem.</li>
    </ol>
    <ul class="english-note-text"><li>Note: If some kind of breakdown occurs in server or website, only successful bets will be accepted. In such situation, any kind of debate will be invalid.</li></ul>

  <div class="row">
    <div class="main_menu_btn">   
       <a href="{% url 'home' %}" class="btn btn-danger purp_btn change_password_btn" id="create_bets">MAIN MENU</a>
    </div>
  </div>
</div>


<style type="text/css">
	.purp_btn {
	    color: #fff !important;
	    border-radius: 30px !important;
	    font-family: "open-sans-semibold" !important;
	    font-size: 12px !important;
	    letter-spacing: 2px;
	    padding: 13px 35px;
	    background-color: #3A61A2 !important;
	    border: 1px solid #3A61A2 !important;
	    margin-top: 4%;
	}

	.main_menu_btn{
	   text-align:center;
	   margin:0px auto !important;
	}

</style>
<script type="text/javascript">
	 $(document).ready(function(){
      $("#english").click(function(){
          $("#english").css("background-color","#3A61A2");
          $("#hindi").css("background-color","#bdbdbd");
          $(".hindi-rules-list, .hindi-note-text").css("display","none");
          $(".english-rules-list, .english-note-text").css("display","table");
      });
      $("#hindi").click(function(){
          $("#hindi").css("background-color","#3A61A2");
          $("#english").css("background-color","#bdbdbd");
          $(".hindi-rules-list, .hindi-note-text").css("display","table");
          $(".english-rules-list, .english-note-text").css("display","none");
      });
  });

</script>

{% endblock %}
